<header class="d-none d-md-block bg-secondary mt-9">
    <div class="container">
        <nav class="py-3">
            <ul class="mb-0 d-flex text-white list-unstyled">
                <li data-aos="fade-up" data-aos-duration="800"><a href="#" class="h5 mr-lg font-weight-normal">CHANEL</a></li>
                <li data-aos="fade-up" data-aos-duration="800" data-aos-delay="100"><a href="#" class="h5 mr-lg font-weight-normal">Jo Malone</a></li>
                <li data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"><a href="#" class="h5 mr-lg font-weight-normal">Curology</a></li>
                <li data-aos="fade-up" data-aos-duration="800" data-aos-delay="300"><a href="#" class="h5 mr-lg font-weight-normal">Dior</a></li>
                <li data-aos="fade-up" data-aos-duration="800" data-aos-delay="400"><a href="#" class="h5 mr-lg font-weight-normal">Chloe</a></li>
                <li data-aos="fade-up" data-aos-duration="800" data-aos-delay="500"><a href="#" class="h5 font-weight-normal">ZARA</a></li>
            </ul>
        </nav>
    </div>
</header>