<header class="d-none d-md-block bg-secondary mt-9">
    <div class="container">
        <nav class="py-3">
            <ul class="mb-0 d-flex text-white list-unstyled">
                <li><a href="#" class="h5 mr-lg font-weight-normal">CHANEL</a></li>
                <li><a href="#" class="h5 mr-lg font-weight-normal">Jo Malone</a></li>
                <li><a href="#" class="h5 mr-lg font-weight-normal">Curology</a></li>
                <li><a href="#" class="h5 mr-lg font-weight-normal">Dior</a></li>
                <li><a href="#" class="h5 mr-lg font-weight-normal">Chloe</a></li>
                <li><a href="#" class="h5 font-weight-normal">ZARA</a></li>
            </ul>
        </nav>
    </div>
</header>