<section class="bg--subscribe bg-cover">
    <div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up"data-aos-duration="1000">
            <h2 class="mb-4 text-gray font-weight-bold">記得<br>訂閱以獲取更多資訊！</h2>
            <form action="#">
                <div class="input-group">
                    <input class="form-control border-bold border-secondary py-5 px-3" type="email" placeholder="Your email address">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary rounded-right px-5">Subscribe</button>
                    </div>
                </div>
              </form>
        </div>
    </div>
</div>
</section>