<footer class="bg-secondary">
    <div class="container">
        <div class="d-flex text-white align-items-center py-5">
        <a href="../../" class="align-self-start"><img src="../../assets/images/d’Perfumewhite.png" alt="d’Perfume" class="img-fluid"></a>
        <small class="ml-5 text-nowrap">© 2020. All Rights Reserved.</small>
        <nav class="ml-auto">
        <ul class=" mb-0 d-none d-md-flex list-unstyled">
            <li><a href="../../product/index.html" class="h5 mr-md-xl font-weight-normal">Product</a></li>
            <li><a href="#" class="h5 mr-md-xl font-weight-normal">Blog</a></li>
            <li><a href="#" class="h5 font-weight-normal">Contact</a></li>
        </ul>
    </nav>
    </div>
    </div>
</footer>