<nav class="navbar fixed-top bg-white navbar-expand-md p-0 shadow-sm" role="navigation">
        <div class="container-xl d-flex justify-content-between">
          <h1 class="navbar-brand ml-4 ml-md-0">
          <a href="../../">
            <img class="img-fluid" src="../../assets/images/d’Perfume.png" alt="d’Perfume">
          </a>
        </h1>
          <a  class="d-flex d-md-none text-gray position-relative ml-auto mr-3" href="#">
            <i class="material-icons">shopping_cart</i><span class="navbar-cartnumber badge badge-secondary badge-pill">3</span>
          </a>
      <button class="navbar-toggler position-relative hamburger" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbarmenu" aria-expanded="true" aria-label="Toggle navigation">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
      <div id="navbarmenu" class="navbar-collapse collapse">
          <ul class="navbar-nav ml-auto">
            <li class="mr-md-7 bg-dark bg-md-white border-bottom">
              <a class="h5 font-weight-normal mb-0 text-white text-md-gray d-flex align-items-center justify-content-center py-3" href="../../product/index.html">
                <i class="material-icons d-none d-md-block">store</i>Product</a>
              </li>
            <li class="mr-md-7 bg-dark bg-md-white order-5 order-md-2">
              <a class="h5 font-weight-normal mb-0 text-white text-md-gray d-flex align-items-center justify-content-center py-3" href="../../login/index.html">
                <i class="material-icons d-none d-md-block">person</i>Mypage</a>
              </li>
            <li class="mr-md-7 bg-dark bg-md-white border-bottom order-2 order-md-3">
              <a class="h5 font-weight-normal mb-0 text-white text-md-gray d-flex align-items-center justify-content-center py-3" href="#">
                <i class="material-icons d-none d-md-block">favorite</i>Wishlist</a>
              </li>
            <li class="bg-dark border-bottom d-block d-md-none">
              <a class="h5 font-weight-normal mb-0 text-white text-md-gray d-flex align-items-center justify-content-center py-3" href="#">Blog</a>
              </li>
              <li class="bg-dark border-bottom d-block d-md-none">
                <a class="h5 font-weight-normal mb-0 text-white text-md-gray d-flex align-items-center justify-content-center py-3" href="#">Contact</a>
                </li>
            <li class="bg-dark bg-md-white order-5 d-none d-md-block">
              <a class="h5 font-weight-normal mb-0 text-white text-md-gray d-flex align-items-center justify-content-center py-3" href="#">
                <i class="material-icons d-none d-md-block">shopping_cart</i>Cart(3)</a>
              </li>
          </ul>
        </div>
        </div>
      </nav>