<nav class="navbar fixed-top bg-white navbar-expand-md p-0" role="navigation">
  <div class="container-xl d-flex justify-content-between">
    <h1 class="navbar-brand ml-4 ml-md-0">
    <a href="index.html">
      <img class="img-fluid" src="./assets/images/d’Perfume.png" alt="">
    </a>
  </h1>
    <a  class="d-flex d-md-none text-light position-relative ml-auto mr-3" href="#" data-toggle="modal" data-target="#cartModal">
      <i class="material-icons">shopping_cart</i><span class="navbar-cartnumber badge badge-primary badge-pill">3</span>
    </a>
<button class="navbar-toggler position-relative hamburger" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbarmenu" aria-expanded="true" aria-label="Toggle navigation">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>
<div id="navbarmenu" class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="mr-md-7 bg-secondary bg-md-white border-bottom">
        <a class="h5 font-weight-normal mb-0 text-white text-md-light d-flex align-items-center justify-content-center py-3" href="#">
          <i class="material-icons d-none d-md-block">store</i>Product</a>
        </li>
      <li class="mr-md-7 bg-secondary bg-md-white order-5 order-md-2">
        <a class="h5 font-weight-normal mb-0 text-white text-md-light d-flex align-items-center justify-content-center py-3" href="#">
          <i class="material-icons d-none d-md-block">person</i>log in</a>
        </li>
      <li class="mr-md-7 bg-secondary bg-md-white border-bottom order-2 order-md-3">
        <a class="h5 font-weight-normal mb-0 text-white text-md-light d-flex align-items-center justify-content-center py-3" href="#" data-toggle="modal" data-target="#wishModal">
          <i class="material-icons d-none d-md-block">favorite</i>Wishlist</a>
        </li>
      <li class="bg-secondary border-bottom d-block d-md-none">
        <a class="h5 font-weight-normal mb-0 text-white text-md-light d-flex align-items-center justify-content-center py-3" href="#">Blog</a>
        </li>
        <li class="bg-secondary border-bottom d-block d-md-none">
          <a class="h5 font-weight-normal mb-0 text-white text-md-light d-flex align-items-center justify-content-center py-3" href="#">Contact</a>
          </li>
      <li class="bg-secondary bg-md-white order-5 d-none d-md-block">
        <a class="h5 font-weight-normal mb-0 text-white text-md-light d-flex align-items-center justify-content-center py-3" href="#" data-toggle="modal" data-target="#cartModal">
          <i class="material-icons d-none d-md-block">shopping_cart</i>Cart(3)</a>
        </li>
    </ul>
  </div>
  </div>
</nav>

<!-- cartModal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content w-50 w-md-100 m-auto">
      <div class="modal-header align-self-center">
        <h5 class="modal-title text-primary font-weight-bold" id="cartModalTitle">已加入購物車</h5>
      </div>
    </div>
  </div>
</div>

<!-- wishModal -->
<div class="modal fade" id="wishModal" tabindex="-1" role="dialog" aria-labelledby="wishModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content mw-50 m-auto">
      <div class="modal-header align-self-center">
        <h5 class="modal-title text-primary font-weight-bold" id="wishModalTitle">已加入我的收藏</h5>
      </div>
    </div>
  </div>
</div>