.bg-cover {
    background-size: cover;
}
.bg--subscribe {
    background-image: url(../images/index10.jpg);
    display: flex;
    height: 600px;
    background-position: 25% 50%;
    align-items: flex-end;
    padding-bottom: 112px;
}
.border-bold{
    border-width: 2px!important;
}
small {
    font-size: $font-size-sm;
    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
    }
}
.card-img-top {
    object-fit: cover;
    height: 255px;
    object-position: left;
}
.card-body {
    padding: 0;
    padding-top: 6px;
}
.card-option {
    padding-bottom: 30px;
    @include media-breakpoint-up(md) {
        padding-bottom: 58px;
    }
}

.modal-open {
    padding-right: 0px !important;
    overflow: auto;
}
.modal {
    padding-right: 0px !important;
}