.pagenation {
    position: relative;
    letter-spacing: -.4em;
    text-align: center;
    width: 100%;
    padding: 5px 4em;
    margin-bottom: 16px;
    @include media-breakpoint-up(md) {
    margin-bottom: 60px;
    }
    & li {
        display: inline-block;
        letter-spacing: normal;
        line-height: 1;
    }
    & a,& span {
        display: inline-block;
        padding: 0 6px 6px;
        margin: 0 10px;
        transition: none!important;
        font-size: 1.5rem;
        text-decoration: none!important;
        position: relative;
    }
}
.seleted {
    & span::after {
        content: "";
        width: 80%;
        height: 2px;
        position: absolute;
        left: 10%;
        bottom: 0;
        background: #916000;
        display: block;
    }
}